@use "../global" as *;

.p-archive-post {
  margin-top: 0 !important;
  text-align: center;
  &__container {
    // max-width: 800px;
    max-width: revert !important;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
  }

  &__item {
    // display: flex;
    // border-bottom: 1px solid #ddd;
    // padding: 1rem 0;
    background: rgba(0, 0, 0, 0.2);
    //  #ddd;
    // opacity: 0.8;
    @media (hover: hover) {
      &:hover {
        // background: #ccc;
        opacity: 1;
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__link {
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    text-decoration: none;
    color: inherit;
  }

  &__image {
    flex: 0 0 150px;
    height: 150px;
    margin-right: 1rem;
    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    // .code-result {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: fill;
    // }
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__term {
    display: inline-block;
    background-color: $color-primary;
    color: #fff;
    padding: calc($spacing-unit/2) $spacing-unit;
    border-radius: calc($spacing-unit/2);
    font-size: 14px;
    margin-bottom: $spacing-unit;
  }

  &__item-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  &__date {
    font-size: 0.8rem;
    color: #999;
  }
}
