@use "../global" as *;

.p-archive-study {
  text-align: center;
}
.p-archive-study__container {
  max-width: 800px;
}

/* コンポーネントのスタイル */
.p-archive-study__list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  text-align: left;
}

.p-archive-study__item {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

.p-archive-study__link {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.p-archive-study__image {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  margin-right: 1rem;
}

.p-archive-study__thumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-archive-study__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-archive-study__term {
  font-size: 0.9rem;
  color: #555;
}

.p-archive-study__item-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.p-archive-study__date {
  font-size: 0.8rem;
  color: #999;
}
