@use "../global" as *;

.c-aside-btn {
  background: $color-primary;
  color: #fff;
  border-radius: 20px 0px 0px 20px;
  padding: 20px 16px 21px;
  font-size: 14px;
  font-weight: bold;
  @include hover-transition;

  &__label {
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-content: center;
  }
  @include mq(sp) {
    display: none;
  }
}
