@use "../global" as *;

.c-section-title {
  font-size: 24px;
  font-weight: 700;

  display: inline-block;
  position: relative;
  padding-inline: 95px;
  &::before,
  &::after {
    content: "/////";
    font-size: 20px;
    color: $color-primary;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 67px;
    // height: 20px;
    // background: url(../img/section-bar.svg);
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
  @include mq(sp) {
    // @include font(20, 700, null, 1.6);
    padding-inline: 65px;

    &::before,
    &::after {
      width: 49px;
      height: 13px;
      // background: url(../img/section-bar-sp.svg);
    }
  }
}
