@use "../global" as *;

.c-section-title {
  font-size: size-calc-clamp(18, 24, 375, 1440);
  font-weight: 700;
  display: inline-block;
  position: relative;
  padding-inline: 95px;

  &::before,
  &::after {
    content: "/////";
    font-size: 20px;
    color: $color-primary;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 67px;
    height: auto;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}
